@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:wght@300;400&family=Mulish:wght@600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&family=Quicksand:wght@500&display=swap");
:root {
    --header-height: 5.5em;
    --body-bg: #fff;
    --black-clr: #000;
    --pill: #ee6455;
    --explore-course-btn: #4cad98;
    --footer-card-wrapper-bg: #4dac96;
    --footer-card-bg: #fff;
    --title-side-fade-bg: #cff4ed;
    --girl-side-fade-bg: #fde2c4;

    --normal-font-size: 1.1em;
    --lg-font-size: 2.2em;
    --medium-font-size: 1em;
    --sm-font-size: 0.77;
}
@media screen and(min-width: 768px) {
    :root {
        --normal-font-size: 1.5em;
        --lg-font-size: 3.5em;
        --medium-font-size: 1em;
        --sm-font-size: 0.88;
    }
}
@font-face {
    font-family: "lazy bee";
    src: url("../../font/BrutalType-Bold.otf");
}
@font-face {
    font-family: "main-default";
    src: url("../../font/RobotoSlab-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lazy bee";
}

.body {
    background-color: var(--body-bg);
    overflow-x: hidden;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
button:focus {
    outline: none;
}
h1,
h2,
h3 {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.font-main {
    font-family: main-default;
}
.header {
    height: var(--header-height);
    background-color: #081824;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    height: 88px;
}
.h-container {
    max-width: 100%;
    margin: 0 auto;
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 170px;
    display: block;
    margin-left: 20px;
}
.logo img {
    width: 100%;
}
.nav_menu_list {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1.75em;
}
.nav_menu_list_item {
    display: inline-flex;
}
.nav_link {
    color: var(--body-bg);
    font-size: var(--medium-font-size);
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 500;
    position: relative;
    padding-bottom: 0.25em;
}
.nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--explore-course-btn);
    transition: width 0.5s ease;
}
.nav_link:hover,
.nav_link:hover::after,
.nav_link.active,
.nav_link.active::after {
    width: 100%;
    color: var(--explore-course-btn);
}
.nav__cta__btn {
    margin-right: 20px;
    background-color: #de9444;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: var(--medium-font-size);
    text-transform: capitalize;
    color: #081824;
    transition: all 0.25s;
}
.nav__cta__btn:hover {
    background-color: #0c2f49;
    color: #9ac9e3;
}
@media screen and (max-width: 991px) {
    .nav_menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: #081824;
        z-index: 100;
        box-shadow: 0 20px 10px rgba(38, 33, 61, 0.2);
        text-align: center;
        padding: 3em 0;
        flex-direction: column;
        margin: 0 auto;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .nav_menu_list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        row-gap: 1.7em;
    }
    #nav_toggle {
        display: block;
        color: white;
        margin-right: 20px;
    }
    #bx-sm {
        font-size: 2.55rem !important;
    }
    .nav_link {
        color: var(--body-bg);
    }
    .nav__cta__btn {
        margin: 0;
    }
}
.show {
    right: 0;
    opacity: 1;
}
.nav_toggle_btn {
    display: none;
}

/* -----footer----- */

.bodyf {
    display: flex;
    min-height: 100vh;
    background-color: #333;
    justify-content: flex-end;
    align-items: flex-end;
}
footer {
    position: relative;
    width: 100%;
    background-color: #050e15;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
    list-style: none;
}
footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: var(--medium-font-size);
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}
footer .menu li a:hover {
    opacity: 1;
}
footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.9em;
}
